
.spectre-body {
  background: #fff;
    color: #50596c;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
